.head1
{
font-family: 'Mochiy Pop P One';
color: white;
font-size: 60px;
}
.head2
{
    font-family: 'Roboto';
    color: rgb(206, 204, 206);
    font-size: 50px;
}
.Nav
{
    color: white;
}
.First
{
    background-color: #5c6b92;
    ;
}
.Tip
{
    color: #1a0126;
    margin-left: 750px;
    font-size: 55px;
    font-family: 'Roboto';
}
.page3

{
   background-color: #a9b7d9;
}

table,th,td{
    background-color: white;
    color: black;
    font-family: 'Roboto';
font-size: 25px;
width: 957px;
padding: 20px;
text-align: center;
border: 10px solid #040536;
border-collapse: collapse;
margin-left: 280px;
margin-bottom: 40px;
}
.para
{
    padding: 10px;
    text-align: center;
    border: 3px solid #5c6b92;
    margin-left: 50px ;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'Roboto';
}
.page4
{
    border: 3px solid #5c6b92;
    margin-left: 50px ;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.vdo
{
    margin-left: 500px;
}
.End
{
    text-align: center;
    background-color: #001871;
    color: white;
    font-size: 25px;
    margin-top: 150px;
}
.img
{
    margin-left: 900px;
    
}
.page2
{   
    background-image: url(https://pubmiddleware.mims.com/resource/image/B24E908E-CC8C-4291-A6F1-AD6C0114E93D/OriginalThumbnail/THUMBNAIL_shutterstock_1682110879.jpg) ;
}
.img2
{
    margin-left: 250px;
}
.Rest
{
    color: #1a0126;
    margin-left: 650px;
    font-size: 55px;
    font-family: 'Roboto';
}
}